<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="../assets/Buu-logo11.png"
      width="80%"
      class="pt-2 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFromInput = !showFromInput">
        Form Input
        <b-icon
          :icon="showFromInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon>
      </b-nav-item>
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput1"
        >Form Input 1</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput2"
        >Form Input 2</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput3"
        >Form Input 3</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput4"
        >Form Input 4</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput5"
        >Form Input 5</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput6"
        >Form Input 6</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput7"
        >Form Input 7</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput8"
        >Form Input 8</b-nav-item
      >
      <b-nav-item v-if="showFromInput" class="sub-menu" to="./fromInput9"
        >Form Input 9</b-nav-item
      >
      <b-nav-item @click="showFrom = !showFrom">
        Form
        <b-icon
          :icon="showFrom ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon>
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from1">
        Form 1
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from2">
        Form 2
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from3">
        Form 3
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from4">
        Form 4
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from5">
        Form 5
      </b-nav-item>
      <b-nav-item v-if="showFrom" class="sub-menu" to="./from6">
        Form 6
      </b-nav-item>

      <b-nav-item @click="showCrudExample = !showCrudExample">
        CRUD Example
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon>
      </b-nav-item>
      <b-nav-item v-if="showCrudExample" class="sub-menu" to="./Datatable1">
        Data table 1
      </b-nav-item>
      <b-nav-item v-if="showCrudExample" class="sub-menu" to="./ProductForm1">
        productform 1
      </b-nav-item>
      <b-nav-item v-if="showCrudExample" class="sub-menu" to="./ProductTable">
        product Table
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFromInput: false,
      showFrom: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.sub-menu {
  padding-left: 10pt;
}
.app-menu {
  background-color: grey;
  font-size: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
